<section class="header">
    <video src="{{ site.baseurl }}/assets/vid/{{ page.video-file-name }}" type="video/mp4" autoplay playsinline muted loop></video>

    <div class="header-container">
        <div class="interactive-logo">
            <div class="shape1 homepage_navToAbout"><p>About</p></div>
            <div class="shape2 homepage_navToService"><p>Services</p></div>
            <a href="{{ site.baseurl }}/projects"><div class="shape3"><p>Projects</p></div></a>
        </div>
        <h1>{{ site.title }}</h1>

        <div class="grid">
            <div class="each-grid">
                <h2>About</h2>
                <!-- <i class="icon fas fa-book-reader"></i> -->
                <div class="icon shape1"></div>
                <p>{{ page.about-brief }}</p>
                <button class="homepage_navToAbout">
                    <i class="fas fa-sign-in-alt"></i>
                    <h6>Enter</h6>
                </button>
            </div>
            <div class="each-grid">
                <h2>Our Services</h2>
                <!-- <i class="icon fas fa-file-code"></i> -->
                <div class="icon shape2"></div>
                <p>{{ page.service-brief }}</p>
                <button class="homepage_navToService">
                    <i class="fas fa-sign-in-alt"></i>
                    <h6>Enter</h6>
                </button>
            </div>
            <div class="each-grid">
                <h2>Projects</h2>
                <!-- <i class="icon fas fa-gem"></i> -->
                <div class="icon shape3"></div>
                <p>{{ page.project-brief }}</p>
                <a href="{{ site.baseurl }}/projects"><button>
                    <i class="fas fa-sign-in-alt"></i>
                    <h6>Enter</h6>
                </button></a>
            </div>
        </div>

        <span id="grid-toggle" class="link">
            <h5>Find Out More</h5>
            <i class="fas fa-arrow-circle-down"></i>
        </span>
    </div>
    
</section>

<section class="about" id="about">
    <div class="background-container">
        <div class="container">
            <div class="title">
                <h2>What is Akrivis?</h2>
            </div>
            <div class="des-content">
                {{ page.ab-para }}
            </div>
        </div>
    </div>
    <!-- <div class="grids">
        <div class="grid">
            <div class="des-content">
                {{ page.ab-para }}
            </div>

        </div>
        <div class="grid">2</div>
        <div class="grid">3</div>
        <div class="grid">
            <p>Akrivis.io</p>
            <h2>About</h2>
        </div>
        <div class="grid"></div>
        <div class="grid">6</div>
    </div> -->
</section>

<section class="service" id="service">
    <h2>Our Services</h2>
    <h6>Akrivis offers a variety of services to meet your institution’s needs.</h6>
    <section class="content-and-images">
        <section class="content">
            <div class="each">
                <h1>{{ page.service1-title }}</h1>
                <p>{{ page.service1-des }}</p>
                <img src="{{ site.baseurl }}/assets/img/service1.png" alt="">
            </div>
            <div class="each">
                <h1>{{ page.service2-title }}</h1>
                <p>{{ page.service2-des }}</p>
                <img src="{{ site.baseurl }}/assets/img/service2.png" alt="">
            </div>
            <div class="each">
                <h1>{{ page.service3-title }}</h1>
                <p>{{ page.service3-des }}</p>
                <img src="{{ site.baseurl }}/assets/img/service3.png" alt="">
            </div>
            <div class="each">
                <h1>{{ page.service4-title }}</h1>
                <p>{{ page.service4-des }}</p>
                <img src="{{ site.baseurl }}/assets/img/service4.png" alt="">
            </div>
            <div class="each">
                <h1>{{ page.service5-title }}</h1>
                <p>{{ page.service5-des }}</p>
                <img src="{{ site.baseurl }}/assets/img/service5.png" alt="">
            </div>
            <div class="each">
                <h1>{{ page.service6-title }}</h1>
                <p>{{ page.service6-des }}</p>
                <img src="{{ site.baseurl }}/assets/img/service6.png" alt="">
            </div>
        </section>
        <section class="background-img">
            <img class="image1" src="{{ site.baseurl }}/assets/img/service1.png" alt="">
            <img class="image2" src="{{ site.baseurl }}/assets/img/service2.png" alt="">
            <img class="image3" src="{{ site.baseurl }}/assets/img/service3.png" alt="">
            <img class="image4" src="{{ site.baseurl }}/assets/img/service4.png" alt="">
            <img class="image5" src="{{ site.baseurl }}/assets/img/service5.png" alt="">
            <img class="image6" src="{{ site.baseurl }}/assets/img/service6.png" alt="">
        </section>
    </section>
</section>

<section class="existing-project" id="existing-project">
    <div class="background-container">
        <div class="container">
            <div class="title">
                <h2>Recent Projects</h2>
                <h6>Akrivis.io does a range of data services. Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus pariatur vel impedit repellendus fugiat. Dicta sapiente sunt unde dolorum dolorem, labore modi architecto distinctio quisquam facilis quod explicabo eveniet consectetur.</h6>
                <a href="{{ site.baseurl }}/projects">
                    <span id="recentProjects-toggle" class="link">
                        <i class="fas fa-arrow-circle-right"></i>
                        <h5>More Projects...</h5>
                    </span>
                </a>
            </div>
            <div class="each-project">
                <img src="{{ site.baseurl }}/assets/img/project1.jpg" alt="">
                <h3>{{ page.project1-title }}</h3>
                <div class="description">
                    <p>{{ page.project1-type }}</p>
                    <p>{{ page.project1-date }}</p>
                </div>
            </div>
            <div class="each-project">
                <img src="{{ site.baseurl }}/assets/img/project1.jpg" alt="">
                <h3>{{ page.project2-title }}</h3>
                <div class="description">
                    <p>{{ page.project2-type }}</p>
                    <p>{{ page.project2-date }}</p>
                </div>
            </div>
            <div class="each-project">
                <img src="{{ site.baseurl }}/assets/img/project1.jpg" alt="">
                <h3>{{ page.project3-title }}</h3>
                <div class="description">
                    <p>{{ page.project3-type }}</p>
                    <p>{{ page.project3-date }}</p>
                </div>
            </div>
            <div class="each-project">
                <img src="{{ site.baseurl }}/assets/img/project1.jpg" alt="">
                <h3>{{ page.project4-title }}</h3>
                <div class="description">
                    <p>{{ page.project4-type }}</p>
                    <p>{{ page.project4-date }}</p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="contact" id="contact">
    <div class="container">
        <h2>Contact</h2>
        <div class="form-section">

        </div>
    </div>
</section>