<section class="header">
    <video src="{{ site.baseurl }}/assets/vid/{{ page.video-file-name }}" type="video/mp4" autoplay playsinline muted loop></video>

    <div class="header-container">
        <h1>{{ site.title }}</h1>

        <span id="grid-toggle" class="link">
            <h5>Find Out More</h5>
            <i class="fas fa-arrow-circle-down"></i>
        </span>

        <div class="grid">
            <div>
                <h2>About</h2>
                <i class="icon fas fa-book-reader"></i>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum modi ab unde explicabo consequuntur eius, officiis iste amet at.</p>
                <button id="homepage_navToAbout">
                    <i class="fas fa-sign-in-alt"></i>
                    <h6>Enter</h6>
                </button>
            </div>
            <div>
                <h2>Our Services</h2>
                <i class="icon fas fa-file-code"></i>
                <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Exercitationem magnam commodi blanditiis id omnis officia, ipsum perspiciatis harum, non ratione.</p>
                <button id="homepage_navToService">
                    <i class="fas fa-sign-in-alt"></i>
                    <h6>Enter</h6>
                </button>
            </div>
            <div>
                <h2>Projects</h2>
                <i class="icon fas fa-gem"></i>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Expedita molestiae iure, enim minima nesciunt est in rem, maxime autem quo impedit.</p>
                <a href="/projects"><button>
                    <i class="fas fa-sign-in-alt"></i>
                    <h6>Enter</h6>
                </button></a>
            </div>
        </div>
    </div>
    
</section>

<section class="about" id="about">
    <div class="grids">
        <div class="grid">1</div>
        <div class="grid">2</div>
        <div class="grid">3</div>
        <div class="grid">
            <p>Akrivis.io</p>
            <h2>About</h2>
        </div>
        <div class="grid"></div>
        <div class="grid">6</div>
    </div>
</section>

<section class="service" id="service">
    <h2>Our Services</h2>
    <section class="content-and-images">
        <section class="content">
            <div>
                <h1>This is a dummy title</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quia, accusantium laborum est praesentium autem eveniet quam ex eum animi provident corporis distinctio possimus harum assumenda quibusdam laboriosam, repudiandae quae.</p>
            </div>
            <div>
                <h1>This is a dummy title</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quia, accusantium laborum est praesentium autem eveniet quam ex eum animi provident corporis distinctio possimus harum assumenda quibusdam laboriosam, repudiandae quae.</p>
            </div>
            <div>
                <h1>This is a dummy title</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quia, accusantium laborum est praesentium autem eveniet quam ex eum animi provident corporis distinctio possimus harum assumenda quibusdam laboriosam, repudiandae quae.</p>
            </div>
            <div>
                <h1>This is a dummy title</h1>
                <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Qui quia, accusantium laborum est praesentium autem eveniet quam ex eum animi provident corporis distinctio possimus harum assumenda quibusdam laboriosam, repudiandae quae.</p>
            </div>
        </section>
        <section class="background-img">
            <img class="image1" src="/assets/img/audit.png" alt="">
            <img class="image2" src="/assets/img/dummy1.png" alt="">
            <img class="image3" src="/assets/img/dummy2.png" alt="">
            <img class="image4" src="/assets/img/dummy3.png" alt="">
        </section>
    </section>
</section>

<section class="existing-project" id="existing-project">
    <h2>Recent Projects</h2>
    <div class="container">
        <div class="each-project">

        </div>
        <div class="each-project">
            
        </div>
        <div class="each-project">
            
        </div>
        <div class="each-project">
            
        </div>
        <div class="each-project">
            
        </div>
        <div class="each-project">
            
        </div>
    </div>
</section>