<section class="background-section">
    <div class="container">
        <div class="title">
            <h1>Our Projects</h1>
            <h2>Feel Free to Browse around!</h2>
        </div>
    </div>
</section>

<section class="blockquote-section">
    <div class="container">
        <div class="blockquote">
            <h3>Our Focus</h3>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Sint totam quisquam rem impedit temporibus quam voluptate excepturi commodi dolorum, autem nihil odio? Cum numquam similique illo, labore cupiditate cumque nemo!</p>
        </div>
        <div class="blockquote">
            <h3>Our Focus</h3>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure, voluptatem animi nesciunt repudiandae error a magnam quo excepturi facilis dolores voluptates natus, illo vel provident minus libero sit accusantium modi.</p>
        </div>
        <div class="blockquote">
            <h3>Our Focus</h3>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Asperiores in harum porro explicabo doloribus dolore placeat, id commodi accusantium quaerat corrupti itaque dolorum qui dolor cumque quod. Minus, nemo inventore. quaerat corrupti itaque dolorum qui dolor cumque quod. Minus, nemo inventore.</p>
        </div>
    </div>
</section>

<section class="project-section">
    <div class="container">
        <div class="catalog">
            <div class="sub-menu">
                <h4>Projects</h4>
                <div><i class="fas fa-chevron-down"></i></div>
            </div>
            
            <div class="buttons">   
                <button id="project1"><div><img src="/assets/img/project-icon.png" alt="">Project 1</div></button>
                <button id="project2"><div><img src="/assets/img/project-icon.png" alt="">Project 2</div></button>
                <button id="project3"><div><img src="/assets/img/project-icon.png" alt="">Project 3</div></button>
            </div>
        </div>
        <div class="individual-project"></div>
    </div>
</section>
