<section class="background-section">
    <div class="container">
        <div class="title">
            <h1>{{ page.title }}</h1>
            <h2>{{ page.description }}</h2>
        </div>
    </div>
</section>

<!-- <section class="blockquote-section">
    <div class="container">
        <div class="blockquote">
            <h3>{{ page.block1-title }}</h3>
            <p>{{ page.block1-description }}</p>
        </div>
        <div class="blockquote">
            <h3>{{ page.block2-title }}</h3>
            <p>{{ page.block2-description }}</p>
        </div>
        <div class="blockquote">
            <h3>{{ page.block3-title }}</h3>
            <p>{{ page.block3-description }}</p>
        </div>
    </div>
</section> -->

<section class="project-section" id="project-section">
    <div class="container">
        <div class="catalog">
            <div class="sub-menu">
                <h4>Projects</h4>
                <div><i class="fas fa-chevron-down"></i></div>
            </div>
            
            <!-- <div class="buttons">   
                <button id="project1"><div><img src="{{ site.baseurl }}/assets/img/project-icon.png" alt="">Project 1</div></button>
                <button id="project2"><div><img src="{{ site.baseurl }}/assets/img/project-icon.png" alt="">Project 2</div></button>
                <button id="project3"><div><img src="{{ site.baseurl }}/assets/img/project-icon.png" alt="">Project 3</div></button>
            </div> -->
        </div>
        <div class="individual-project"></div>
    </div>
</section>
