<section class="background-section">
    <img class="background-img" src="/assets/img/projects-background.jpg" alt="">
    <div class="container">
        <div class="title">
            <h1>{{ page.title }}</h1>
        </div>
    </div>
</section>

<!-- <section class="blockquote-section">
    <div class="container">
        <div class="blockquote">
            <h3>{{ page.block1-title }}</h3>
            <p>{{ page.block1-description }}</p>
        </div>
        <div class="blockquote">
            <h3>{{ page.block2-title }}</h3>
            <p>{{ page.block2-description }}</p>
        </div>
        <div class="blockquote">
            <h3>{{ page.block3-title }}</h3>
            <p>{{ page.block3-description }}</p>
        </div>
    </div>
</section> -->

<section class="project-section" id="project-section">
    <div class="container">
        <div class="catalog">
            <div class="sub-menu">
                <h4>Projects</h4>
                <div><i class="fas fa-chevron-down"></i></div>
            </div>
        </div>
        <div class="individual-project"></div>
    </div>
</section>