.codes {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: monospace;

    figure {
        margin: 0;
    }
}
.highlight {
    background: #1e1e1e;
    border: 1px #C1C1C1;
    border-radius: 10px;
    padding: 20px;
    width: 100%;

    pre {
        width: 100%;
    }
}
code {
    border-radius: 3px;
    padding: 2px;
}
pre, pre.prettyprint {
    background: #1e1e1e;
}
pre span {
    font-family: monospace;
    margin: 2px 0;
}

table.rouge-table {
    overflow-x: scroll;
}

.language-java {

    .lineno {
        color: #a9b7c6;
    }
    .s, .c1 {
        color: #5f864a;
    }
    .kn, .kd, .kt, .k, .kc {
        color: #cc7832;
    }
    .nn, .nc, .o, .na {
        color: #a9b7c6;
    }
    .n {
        color: #9876aa;
    }
    .nd {
        color: #bbb529;
    }
    .nf {
        color: #ffc66d;
    }
    .mi, .mf {
        color: #5c968e;
    }
}

.language-python {

    .lineno {
        color: #a9b7c6;
    }
    .c1 {
        color: #6a9955;
    }
    .s {
        color: #ce8349;
    }
    .kn, .k, .ow {
        color: #c586b6;
    }
    .nn, .nc, .o, .na, .p, .nb, .n {
        color: #a9b7c6;
    }
    .bp {
        color: #1e88da;
    }
    .mi, .mf {
        color: #b5ce89;
    }
}

.language-r {

    .lineno {
        color: #9cdcfe;
    }
    .c1 {
        color: #6a9955;
    }
    .nn, .nc, .o, .na, .p, .nb, .n {
        color: #a9b7c6;
    }
    .s1, .s2 {
        color: #ce8349;
    }
    .m {
        color: #b5ce89;
    }
    .kc {
        color: #1e88da;
    }
}
