<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1">
    <script src="https://code.jquery.com/jquery-3.5.1.js" integrity="sha256-QWo7LDvxbWT2tbbQ97B53yJnYU3WhH/C8ycbRAkjPDc=" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://use.typekit.net/xyt1pjb.css">
    <link rel="stylesheet" text="text/css" href="{{ site.baseurl }}/assets/css/code.css">
    <link rel="stylesheet" text="text/css" href="{{ site.baseurl }}/assets/css/style.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Raleway:wght@100;200;300;400;500;600;700;800;900&display=swap" rel="stylesheet">
    <script src="https://kit.fontawesome.com/46026483b6.js" crossorigin="anonymous"></script>
    <link rel="shortcut icon" href="{{ site.baseurl }}/favicon.ico">
    <title>{{ page.title }} - {{ site.title }}</title>
</head>
<body>
    <section class="navigation">
        <nav>
            <a class="nav_texts" href="{{ site.baseurl }}/">
                <h1 class="site-title">{{ site.title }}</h1>
            </a>
            <div class="burger">
                <div class="line1"></div>
                <div class="line2"></div>
                <div class="line3"></div>
            </div>
        </nav>
        <div class="nav-box">
            <div class="menu-and-form">
                <div class="menu">
                    <a class="link" href="{{ site.baseurl }}/">Home</a>
                    <a class="link" href="{{ site.baseurl }}/#about">About</a>
                    <a class="link" href="{{ site.baseurl }}/#service">Services</a>
                    <a class="link" href="{{ site.baseurl }}/projects">Projects</a>
                    <a class="link" href="{{ site.baseurl }}/#contact">Contact</a>
                </div>
            </div>
        </div>
    </section>

    {{ content }}

    <section class="footer">
        <div>
            <a href="mailto:{{ site.email }}" target="_blank">Email Us</a>
            <a href="#">Terms & Conditions</a>
        </div>
        <div>
            <p><em>Copyright</em> &copy; 2021. All Rights Reserved. {{ site.title }}.</p>
        </div>
    </section>
    
    <script src="{{ site.baseurl }}/assets/js/script.js"></script>
    <script src="{{ site.baseurl }}/assets/js/navigation-bar.js"></script>
    <script src="{{ site.baseurl }}/assets/js/form.js"></script>
</body>
</html>